@font-face {
    font-family: 'ElegantIcons';
    src: url('../fonts/ElegantIcons.eot');
    src: url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'), url('../fonts/ElegantIcons.woff') format('woff'), url('../fonts/ElegantIcons.ttf') format('truetype'), url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}
body.html{ font-family: Arial, sans-serif;}
.social-facebook:before{
   content: "\e093";
}
.social-twitter:before {
    content: "\e094";
}
.social-google-plus:before {
    content: "\e096";
}
.social-linkedin:before {
    content: "\e09d";
}
.social-instargram:before{
    content: "\e09a";
}
.social-pinterest:before{
    content: "\e095";
}
.social-rss:before{
    content: "\e09e";
}
.elegant-comment:before{
    content:"\e065";
}
.elegant-user:before{
    content:"\e08a";
}
.elegant-calendar:before{
    content:"\e025";
}
.elegant-arow:before{
    content:"\24";
    color: rgba(39, 115, 39, 0.91);font-weight: 600;
    font-size: 20px;
    vertical-align: bottom;
    margin-left: 5px;
}
.elegant-phone:before{
    content: "\e090";
    margin-right: 5px;
}
.elegant-email:before{
    content: "\e076";
    margin-right: 5px;
}
.billing-icon:before{
    content: "\e059";
    font-size: 20px;
}
.payment-icon:before{
    content: "\e014";
    font-size: 20px;
}
.edit-icon:before{
    content: "\6c";
}
.shipping-method-icon:before{
    content: "\e015";
    font-size: 20px;
}
.cs-social a i,.icon-elegant {transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;background-repeat: no-repeat;background-position: center;color: #FFF;font-size: 15px;font-family: 'ElegantIcons';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;list-style: none;display: inherit;}
.cs-social li{display: inline-block;margin: 0 10px;}
.cs-social a{transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;color: #7a7a7a;font-size: 20px;display: inline-block;}
.cms-index-index .main-container{ max-width: inherit;}
.slideshow-container {position: relative;display: block;width: 100%;}
.slideshow-container .slideshow {width: 100%;padding: 0;
    position: relative;
    margin: 0;
}
.slideshow-container .slideshow > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: block;
    margin: 0;
}
.slideshow-container .slideshow > li:first-child {
    position: static;
    z-index: 100;
}
.slideshow-container .slideshow > li img {
    max-width: 100%;
    width: 100%;
}
.slideshow-pager {
    text-align: center;
    width: 100%;
    z-index: 115;
    position: absolute;
    bottom: 0px;
    top: auto;
    overflow: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.slideshow-pager span {
    font-family: arial;
    width: 44px;
    height: 44px;
    display: inline-block;
    color: #DDDDDD;
    cursor: pointer;
}
.slideshow-pager span:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 1px;
    background-color: #FFFFFF;
    position: relative;
}
.slideshow-pager span:hover:before {
    background-color: rgb(35, 129, 33);
}
.slideshow-pager span.cycle-pager-active:before {
    background-color: rgb(35, 129, 33);
}
.slideshow-pager > * {
    cursor: pointer;
}

.slideshow-prev,
.slideshow-next {
    position: absolute;
    top: 0;
    width: 15%;
    max-width: 80px;
    height: 100%;
    opacity: 0.6;
    z-index: 110;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.slideshow-prev:before,
.slideshow-next:before {
    content: '';
    width: 0;
    height: 0;
    font-size: 0;
    position: absolute;
    border-style: solid;
    display: block;
    top: 50%;
    margin-top: -15px;
}
.slideshow-prev:hover,
.slideshow-next:hover {
    opacity: 1;
}
.slideshow-prev.disabled,
.slideshow-next.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    cursor: default;
}

.slideshow-prev {
    left: 8px;
}
.slideshow-prev:before {
    border-width: 15px 15px 15px 0;
    border-color: transparent #FFFFFF transparent transparent;
    top: 50%;
    left: 10px;
}
.slideshow-prev:hover:before {
    border-color: transparent rgb(35, 129, 33) transparent transparent;
}

.slideshow-next {
    right: 8px;
}
.slideshow-next:before {
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #FFFFFF;
    top: 50%;
    right: 10px;
}
.slideshow-next:hover:before {border-color: transparent transparent transparent rgb(35, 129, 33);}
#farm-header-top{background: none repeat scroll 0% 0% rgb(35, 129, 33);padding: 5px 0;}
#farm-header-top .info,#farm-header-top .top-left{ width: 50%; float: left;color: #fff;}
#farm-header-top .info ul li{ display: inline-block;color: #f0f0f0;font-size: 12px;height: 25px;line-height: 28px;padding: 0 15px;}
#farm-header-top .info ul li a{ color: #fff;}
#farm-header-top .top-left{ text-align: right;}
.col-right .top-right{margin: 20px 0;background: #a4af43;color: #fff;padding: 15px 12px;}
.section_row{margin-top: 35px;}
.section_row h2{border-bottom: 2px solid #1f711d;    text-transform: uppercase;display: inline-block;padding: 0 15px 15px;width: 100%;color: #238121;font-size: 26px;font-weight: bold; text-align: center;}
.section_row h5{text-align: center;font-size: 16px;margin: 10px 0 30px;}
.section_row .circle-box{float: left;padding: 0 15px;text-align: center;margin: 0 0 40px;}
.section_row .circle-box img{  border: 2px solid #3c6302;margin: 10px 0;  border-radius: 50%;max-width: 100%;display: inline-block;}
.cms-index-index .col-main{/*background: url('../images/port-bg.jpg') repeat*/;margin: 0px 0 0 0;}
.fancy_list_wrapper .fancy_list_item{width: 30%;float: left;margin:0 calc(10%/6) 20px;}
.fancy_list_wrapper .fancy_list_item img{max-width: 100%; margin: 0 auto;}
.fancy_list_wrapper{display: inline-block; width: 100%;}
.fancy_categories .icon-elegant{color: #8d8d8d;margin-right: 5px;}
.fancy_categories a{margin-right: 5px;color: #636363}
.fancy_list_wrapper h4 {margin-top: 20px;}
.fancy_list_wrapper .short-des{margin: 10px 0;}
.fancy_categories .continue-reading{color: rgba(39, 115, 39, 0.91);font-weight: 600;}
.footer-category{ width: 40%; float: left;text-align: right;}
.footer-category a{font-size: 14px; color: #fff;}
.footer-category  i{height: 15px;width: 1px;background: #fff;display: inline-block;margin: 0 10px;vertical-align: sub; }
.footer-category ul li{ display: inline-block;}
.nav-primary li.level0.active a{color: #238121;border-top: 2px solid #238121;}
.catalog-category-view .main{margin: 0px auto;background: #fff;}
.cms-index-index .widget-new-products{margin-top: 30px;text-align: center;}
.cms-index-index .widget-new-products h2{font-weight: 700;font-style: normal;letter-spacing: -1px;color: #238121;margin-bottom: 5px;}
hr.border-width {border-color: #6ab42f !important;margin-top: 8px !important;}
hr{margin-bottom: 20px;border: 0;border-top: 1px solid #eee;box-sizing: content-box;}
.cms-index-index .widget-new-products hr.border-width{margin: 0 auto;width: 45px !important;border-width: 3px !important;}
.cms-index-index .widget-new-products .widget-products{padding-top: 40px;}
.cms-index-index .widget-new-products span{ font-style: italic;}
.cms-index-index .main-container{background: #fff;border: 0}
.cms-index-index .main-container .main{max-width: inherit;}
.main-container{background: #f0f0f0;border-top: 1px solid #6ab42f; min-height:400px;}
/*==========================catagory page====================================*/
.products-list > li .more a{color: #238121;letter-spacing: 0.1em;text-transform: capitalize;margin-top: 10px;display: block;}
.page-title h1{color: #2c2c2c;float: left;font-size: 20px;font-weight: bold;text-transform: uppercase;margin: 0;}
.page-title{display: inline-block;width: 100%;}
.product-grid li{border-bottom: 1px solid #247b27!important;}
.new-post h3{margin-bottom: 4px;font-family: ProximaNova-Bold, sans-serif;font-size: 20px;color: white;background: #58595b;border-bottom: 4px solid #a4af43;padding: 7px 12px;letter-spacing: .04em;font-weight: 200;}
.new-post ul li {margin: 10px 5px;}
.new-post h4{    position: relative;min-height: 1em;line-height: 1.25em;font-size: 1em;background-color: rgba(64, 64, 64, .95);overflow: hidden;text-transform: uppercase;padding: 10px 10px 8px;vertical-align: middle;box-sizing: border-box;margin: 10px auto 0px auto;}
.new-post h4 a{color: #FEFEFE!important;}
.product-grid.products-list > li:last-child{padding-bottom: 20px; }
/*==========================product page====================================*/
.write-post h1{margin: 20px 0 5px;font-weight: bold;font-size: 26px;padding: 0 15px;}
.write-post .toggle-tabs,.write-post .collateral-tabs dt,.write-post .collateral-tabs .tab-content > h2 {display: none;}
.write-post img{max-width: 100%;}
.write-post .product-collateral{padding: 15px 15px 0;}
.review-post ,.box-reviews{background: #fff; padding: 20px;}
.review-post form{background-color: #f7f7f7;border-color: #989898;border-style: solid;border-width: 1px;border-radius: 30px;padding: 20px;}
.review-post form h3{color: #80a60e;font-style: italic;}
#customer-reviews dl dt > a{color: #80a60e;}
.catalog-product-view .pager{margin: 0;line-height: 0;}
.catalog-product-view .pager > .count-container{display: none;}
#header-nav ol li:focus{outline: 0; border: 0;}
.skip-links a:hover{color: #fff6f1;}
h2.product-namecart a:hover{color: #457103;  font-weight: bold;  text-decoration: underline;}
.box-up-sell .products-grid > li{width: 100%;}
/*==========================checkout page====================================*/
.checkout-onepage-index .col-main{padding-top: 20px;}
#checkout-progress-wrapper .changelink{float: right;}
#checkout-progress-wrapper .complete{width: 85%;}
#checkout-progress-wrapper .block-title {background-color: #8BC34A;margin-top: 10px;padding: 15px 0 10px;text-align: center;position: relative;z-index: 2;color: #fff;}
#checkout-progress-wrapper .block-title:before {z-index: 3;border-left: 16px solid transparent;border-top: 11px solid #8BC34A;border-right: 16px solid transparent;content: '';position: absolute!important;bottom: 0;left: 50%;margin-left: -16px;margin-bottom: -11px;}
#billing-progress-opcheckout{background-color: #f9a80c;}
#shipping_method-progress-opcheckout{background: bisque;}
#shipping_method-progress-opcheckout:before {border-top: 11px solid bisque;border-left: 19px solid transparent;border-right: 19px solid transparent;}
#billing-progress-opcheckout:before {border-top: 11px solid #f9a80c;border-left: 19px solid transparent;border-right: 19px solid transparent;}
.opc-block-progress .block-content div:before {z-index: 2;border-left: 16px solid transparent;border-right: 16px solid transparent;content: '';position: absolute;top: 100%;left: 50%;margin-left: -16px;margin-bottom: -11px;}
#payment-progress-opcheckout {background-color: rgba(146, 154, 81, 0.56);}
#payment-progress-opcheckout:before {border-top: 11px solid rgba(146, 154, 81, 0.56);border-left: 19px solid transparent;border-right: 19px solid transparent;}
.opc-block-progress .block-content div {color: #fff;margin-top: 2px;position: relative;padding: 16px 7px 15px;color: #fff;}
.opc-block-progress .block-content div i{padding: 0 10px;}
.opc-block-progress .block-content div i, .opc-block-progress .block-content div dt{ display: inline-block;}
.checkout-onepage-success .page-title{margin: 20px 0;text-align: center;width: auto;}
#opc-shipping,#shipping-progress-opcheckout{display: none;}
@media only screen and (max-width: 770px)
{
    .fancy_list_wrapper .fancy_list_item{width: 90%;float: left;margin:0 calc(10%/2) 30px;text-align: center;}
}
